.bg-pulldown {
    height: 127px;
    background-color: #FFFFFF;
}

.logo-stoter {
    height: 69px;
    width: 245px;
    box-shadow: -3px 6px 16px NaNpx rgba(0, 0, 0, 0.5);
}

.header_toplink {
    height: 13px;
    width: 408px;
    color: #009EE0;
    font-family: "Work Sans";
    font-size: 17px;
    font-weight: 800;
    line-height: 25px;
    text-align: right;
    padding: 14px 16px;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav-right {
    float: right;
}

.link-text {
    color: #0e5894;
}

.bg-menu {
    height: 70px;
    background-color: #014171;
}

header.masthead {
    position: relative;
    background: url("Images/image30.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1 {
    font-size: 2rem;
}

.op-en-overslag {
    color: #FFFFFF;
    line-height: 56px;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    text-shadow: -3px 6px 16px NaNpx rgba(0, 0, 0, 0.45);
}